<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".giaodien.HoaDonChiTietActivity"></activity>
        <activity android:name=".giaodien.TopSachActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".giaodien.ThongKeActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Login.ManHinhChoActivity" />
        <activity android:name=".ThongTinActivity" />
        <activity
            android:name=".giaodien.HoaDonActivity"
            android:parentActivityName=".MainActivity" >

        </activity>
        <activity
            android:name=".giaodien.TheLoaiSachActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".giaodien.SachActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".giaodien.NguoiDungActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Password.MatKhauActivity" />
        <activity android:name=".Login.LoginActivity">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>